<% if (user.role === 'Boss'){ %>
  <p>New Employee for IronHack</p>
<%}%>

<form class="" action="/newEmployee" method="post">

  <label for="username">username</label>
  <input type="text" name="username" value="">
  <br>
  <label for="name">name</label>
  <input type="text" name="name" value="">
<br>
  <label for="email">email</label>
  <input type="email" name="email" value="">
<br>
  <label for="familyName">familyName</label>
  <input type="familyName" name="familyName" value="">
<br>
  <label for="password">password</label>
  <input type="password" name="password" value="">
<br>

<% if (user.role === 'Boss'){ %>
  <label for="role">role</label>
  <br>
  <input type="checkbox" id="Boss" name="role" value="Boss">
  <label for="role"> Boss</label><br>
  <input type="checkbox" id="Developer" name="role" value="Developer">
  <label for="role">Developer</label><br>
  <input type="checkbox" id="TA" name="role" value="TA">
  <label for="role">role</label>
 <br>
 <%}%>
  <input type="submit" value="Submit">

</form>
