new course

<form class="" action="/course/new-course" method="post">
  <label for="name">name</label>
  <input type="text" name="name" value="">
  <br>
  <label for="startingDate">startingDate</label>
  <input type="date" name="startingDate" value="">
  <br>
  <label for="endDate">endDate</label>
  <input type="date" name="endDate" value="">
  <br>
  <label for="level">Level</label>
  <input type="text" name="level" value="">
  <br>
  <label for="available">Available</label>
  <input type="checkbox" name="available" value="true">
  <br>
  <input type="submit" name="submit" value="Enviar">
</form>
